@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Kalam:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Kalam:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap');
.blob {
    background-image: url(images/isolated-happy-smiling-dog-white-background-portrait-4_1562-693.avif);
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center center;
    border: 6px solid rgb(0, 0, 0);
    animation: animate 5s ease-in-out infinite;
    transition: all 1s ease-in-out;
    margin: 30px;
}

@keyframes animate {

    0%,
    100% {
        border-radius: 60% 40% 30% 70%/ 60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40%/ 50% 60% 30% 60%;
    }


}
.navbar  img{
    background-color: #fff;
    height: 100px;
    box-shadow: 0 4px 8px rgba(203, 165, 111, 0.212);
    border-radius: 50px;
    padding-left: 0px;
}
.navbar div{
    padding: 3px 20px;
}
h1 {
    font-size: 70px;
    margin: 0px;
    padding: 0px;
    font-family: "Fredoka-aks", sans-serif;
    text-align: left;
    color: rgb(145, 151, 151);
}

h2 {
    font-size: 50px;
    margin-top: 70px;
    padding: 0px;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: rgb(212, 122, 37);
}

p {
    font-size: 16px;
    margin: 10px 10px;
    margin-bottom: 30px;
    font-family: "Fredoka-aks", sans-serif;
    text-align: center;
}

body {
    background-color: rgba(228, 199, 170, 0.119);
    overflow-x: hidden;
    font-family: "Fredoka-aks", sans-serif;
}

.fredoka-aks {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
.pricebtn{
    font-weight: 600;
    padding: 10px 60px;
    font-family: "Fredoka", sans-serif;
    background-color: #fff;
    border-radius: 7px;
    color: #6a6262;
    margin: 10px 0px;
    border: 2px solid rgba(203, 93, 24, 0.913);
}
.pricebtn:hover{
    cursor: pointer;
    background-color: rgb(203, 93, 24) ;
    color: #fff;
}

.main {
    border: px solid red;
    width: 100%;
    margin-top: 0px;
    height: auto;
    text-align: center;
    display: flex;
    justify-content: center;
}

.imagess img {
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.imagess img:hover,
.sq:hover {
    transform: scale(1.1);
}

.context,
.imagess {
    margin: 30px 20px;
    padding: 40px 30px;
    width: 50%;

    height: auto;
    text-align: justify;
    border: 0px solid black;

}

.imagess img {
    margin-top: 0PX;
    text-align: center;
    width: 600px;

}

.context {
margin-top: 30px;
    padding: 30px 50px;
    width: 50%;
    border: 0px solid black;
}

.sq {
    height: auto;
    border: 0px solid rgb(181, 165, 165);
    width: auto;
    text-align: center;
    padding: 10px 10px;
    margin-top: 60px;
    min-height: 300px;
    min-width: 200px;
    background-color: white;
    cursor: pointer;
    margin: 30px 20px;
    transition: transform 0.3s ease;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sq img {
    margin: 0px 0px;
    border-radius: 5px;
    width: 340px;
}

.button {
    cursor: pointer;
    text-align: left;
    align-items: self-end;
    background-color: rgba(231, 107, 24, 0.776);
    padding: 10px 15px;
    color: aliceblue;
    border-radius: 40px;

}

.button:hover {
    border: px solid rgb(102, 45, 7);
    box-shadow: 0px 3px 5px rgba(183, 126, 126, 0.457);
}

* {
    margin: 0px;
    padding: 0px;
}

.navbar {
    background-color: #fff;
    display: flex;
    box-shadow: 0px 3px 5px rgba(10, 10, 10, 0.123);
    margin-top: 0px;
    height: 54px;
    position: fixed;
    font-family: "Fredoka-aks", sans-serif;
    width: 100%;
}

ul {
    margin-left: 0px;

    display: flex;
}

ul li {
    margin: 10px;
    padding: 10px;
    list-style: none;
}

.navbar ul li a {
    text-align: center;
    font-weight: 500;
    color: rgb(226, 116, 43);
    text-decoration: none;
}

.navbar ul li a:hover {


    color: rgb(46, 45, 44);

}

.headings {
    border: 0px solid red;
    width: 100%;
    margin-top: 0px;
    height: auto;
    text-align: center;
    
    justify-content: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    color: rgb(226, 116, 43);
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group textarea {
    width: 60%;
    padding: 10px;
    border: px solid #e08712d6;
    border-radius: 14px;
}

.form-group textarea {
    resize: vertical;
    min-height: 100px;
}

.form-group button {
    padding: 10px 20px;
    color: rgb(226, 116, 43);

    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #0056b3;
}

.sq1 {

    border: 0px solid rgb(181, 165, 165);

    text-align: center;
    padding: 10px 10px;
    margin-top: 60px;
    height: 200px;
    width: 200px;
    background-color: white;
    cursor: pointer;
    margin: 30px 20px;
    transition: transform 0.3s ease;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.235);
}

.context1 {
    border: px solid red;
    width: 600px;
    height: 170px;
    margin: 30px 30px;
    padding: 90px 0px;
    display: flex;
    text-align: left;
}

.swipbtn {
    font-size: 16PX;
    background-color: #fff;
    border-radius: 20px;
    height: 150px;
    cursor: pointer;
    border: none;
    width: 190px;

    margin: 10px 10px;
    padding: 10px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.swipbtn:hover {
    font-size: 16PX;
    background-color: #fd5e0f60;

    color: #fff;
    cursor: pointer;
    border: none;
    box-shadow: 0 4px 8px rgba(46, 43, 43, 0.411);


}

.swipbtn h3 {
    margin-top: 20px;
}
.main1{
    
    padding: 80px 50px;
    display: flex;
    border: px solid blue;
}
.main1 div{
    padding: 50px 40px;
    width: 50%;
}
.main1 div img{
    width: 600px;
    box-shadow: 0 4px 8px rgba(46, 43, 43, 0.411);
   border-radius: 10px;
}
.main2{
    text-align: center;
    justify-content: center;
    padding: 10px 10px;
    display: flex;
    border: px solid blue;
    gap: 20px;
}
.main2 img{
height: 250px;
width: auto;
box-shadow: 0 4px 8px rgba(64, 51, 51, 0.071);
    border-radius: 20px;
  
}
.psq img{
    margin: 0px 0px;
    border-radius: 50%;
    box-shadow: none;
}
.psq{
    background-color: #fff;
    text-align: left;
    box-shadow: 0 4px 8px rgba(43, 40, 40, 0.256);
    margin: 20px 20px;
    padding: 20px;
    border-radius: 20px;
    width: 240px;
    height: 400px;
    border: 1px solid rgb(231, 72, 3);
}
.psq h1,.psq p,.psq h3{
    text-align: left;
 
}
@media (max-width:750px) {
  
.main{
    display: block;
    margin: 10px 10px;
    text-align: center;
    justify-content: center;

    padding: 0px 0px;
}
.context,.imagess{
    margin: 30px 10px;
    padding: 20px 0px;
    width: 100%;
}

.imagess img{
    width: 300px;
}
 .context{
    width: 100%;
    padding: 10px 20px;
 }

 .sq{
    margin: 10px 10px;
    padding: 0px 0px;
    width: auto;
    justify-content: center;
    text-align: center;
    height: auto;
 }
 .context1{
    width: 100%;
    height: 30px;
    padding: 10px 10px;
    margin: 40px 20px;
 }
 .swipbtn{
    
    width: 80px;
    height: 80px;
 }
 .imageContainer {
    width: 100px;
 }
}
